*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

:root {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button {
    all: unset;
}

a {
    text-decoration: none;
}

p,
a,
span,
img {
    user-select: none;
    -moz-user-select: none;
}

body {
    display: grid;
    place-content: center;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
    position: relative;
}

body div.bg-earth {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

body main {
    text-align: center;
    position: relative;
    display: grid;
    place-content: center;

    z-index: 10;

    & h1 {
        font-family: "Silkscreen", sans-serif;
        font-size: 3rem;
        font-weight: 400;

        margin-bottom: 1rem;
    }

    & .container {
        display: grid;
        place-items: center;
        gap: 2rem;
        width: min-content;
        height: min-content;
        background: rgba(217, 217, 217, 0.2);
        backdrop-filter: blur(.5rem);
        padding: 1rem;
        border-radius: 1.2rem;
    }

    & .header {
        display: flex;
        justify-content: space-between;
        place-items: center;
        flex-wrap: nowrap;
        gap: 10rem;
        margin-bottom: 2rem;

        & .btn-back {
            border-radius: 4px;
            background: rgba(230, 188, 255, 0.9);

            & a {
                display: grid;
                place-content: center;
                padding: .5rem 2rem .5rem 2.5rem;

                & svg {
                    width: 2rem;
                    height: 2.7rem;
                }
            }
        }

        & .flex-icon {
            display: flex;
            place-items: center;
            text-shadow: #250E40 0rem 1px 1px;

            gap: 4px;

            & svg {
                fill: #250E40;
            }
        }

        & span {
            font-family: "Gemunu Libre", sans-serif;
            font-size: 2rem;
        }
    }

    & .flag-country {
        width: 90%;
        height: 20rem;
        border-radius: .8rem;
        border: 1px solid #fff;
        overflow: hidden;
    }

    & .flag-name-options {
        display: grid;
        gap: 1rem;
        margin-bottom: 2rem;

        & button {
            cursor: pointer;
            text-align: center;
            background: rgba(217, 217, 217, 0.3);
            min-width: 20rem;
            padding: 1rem 2rem;
            border-radius: .8rem;
            border: 1px solid transparent;

            font-family: "Gemunu Libre", sans-serif;
            font-size: 2rem;
            font-weight: 600;
            color: #f4f4f4;
            text-shadow: #250E40 0rem 1px 1px;
        }

        & button:hover {
            border: 1px solid #fff;
        }

        & button.true {
            background: rgba(210, 255, 186, 0.5);
        }

        & button.false {
            background: rgba(219, 70, 70, 0.5);
        }
    }
}

@media (max-width: 450px) {
    body main {
        & .header {
            gap: 5rem;
        }
    }

    body main .flag-country {
        height: 15rem;
    }
}